/*HEADER*/
header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.header p {
  font-family: "Average Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 4rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }
  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/*MAIN*/
/* PRODUCT SECTION */
.image-product {
  display: flex;
  align-items: flex-start; /* Align the image and text to top */
  padding: 3rem;
  gap: 5rem;
}

.image-product .image {
  width: 50%;
  object-fit: cover;
  height: auto;
}

/* text in a column */
.text-content {
  display: flex;
  flex-direction: column; /* makes h3 and p in a column */
  width: 45%;
}

.text-content h3 {
  margin: 0 0 1rem 0;
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}
.text-content p {
  margin: 0 0 1rem 0; /* Adds space between text elements */
  font-family: "Average Sans";
  margin-top: 2rem;
}
button {
  background-color: beige;
  color: brown;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10rem;
}
button:hover {
  color: beige;
  background-color: brown;
}

@media screen and (max-width: 700px) {
  .image-product {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-product .image {
    width: 100%;
  }

  .text-content {
    width: 90%;
  }
  button {
    width: 100%;
  }
}
/*FOOTER*/
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
  align-items: center;
}

.footer p {
  font-size: 1rem;
  color: gray;
}


