/*HEADER*/
h1,
a {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}
header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between; /*positioned */
}
.header p {
  font-family: "Average Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 4rem;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }
  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
/*MAIN*/
/*hero section*/
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the text */
  align-items: flex-start; /* Align the text to the left */
  height: 100vh; /* full viewport height */
  padding: 2rem;
  box-sizing: border-box;
}

/* Hero image animation */
@keyframes heroImageAppear {
  from {
    transform: translate(-100%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.hero img {
  position: absolute; /* Keep the image behind the text */
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*image covers the area without distortion */
  z-index: -1;
  opacity: 0;
  animation: heroImageAppear 1.5s ease-out forwards;
}
/* Hero Text Animation */
@keyframes heroTextAppear {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero h1,
.hero p {
  opacity: 0;
  animation: heroTextAppear 1s ease-out forwards;
  animation-delay: 1.5s;
  color: black;
  text-align: left;
  margin: 0 2rem;
  z-index: 1; /* text above the image */
  max-width: 36rem;
  width: 100%;
}
h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero p {
    font-size: 1.3rem; /* Adjusted size of text */
  }
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 520px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
/*theme change*/

.dark-mode {
  background-color: #121212; /* Dark background */
  color: #f5f5dc;
}

.dark-mode a,
.dark-mode p,
.dark-mode h1,
.dark-mode h3,
.dark-mode li,
.dark-mode figcaption {
  color: #f5f5dc;
}

/* Button position */
#theme-change {
  position: absolute;
  top: 90vh;
  left: 170vh;
  background: #4e342e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
}

#theme-change:hover {
  background: #6d4c41;
}

/*CATEGORY*/
h3 {
  text-align: center;
  font-family: "Average Sans", light;
  color: gray;
  padding: 3rem;
}

figure {
  align-items: center;
}
.list-image {
  width: 80%;
  opacity: 70%;
}
.list-image:hover {
  opacity: 100%;
}
@media screen and (min-width: 520px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media screen and (min-width: 780px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1070px) {
  .category-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*FOOTER*/
.footer {
  background-color: #e1dfd2;
  color: #4e342e;
  padding: 2rem;
  text-align: center;
  position: relative;
  margin-top: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 1rem;
  margin: 0 auto;
}

.footer-right {
  font-size: 1rem;
  flex-direction: column;
}

.footer-center {
  text-align: center;
}

.footer-button {
  background-color: #4e342e;
  color: #f5f5dc;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.footer-button:hover {
  background-color: #6d4c41;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
  border-top: 1px solid #4e342e;
}

.footer-heading {
  font-size: 4rem;
  font-weight: bold;
  color: #4e342e;
  text-transform: uppercase;
  position: relative;
  padding: 1 rem;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
  .footer-heading {
    font-size: 3rem;
  }
}
