h1,
a {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Average Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/*HEADER*/
ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

/*MAIN*/
.portrait {
  width: 20%;
}
.icon {
  width: 3%;
}
.paragraph1 {
  font-size: 15px;
}
.paragraph2 {
  font-size: 13px;
  color: gray;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  width: 240px;
}
/*FOOTER*/
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
